/* VARIABLES */
:root {
    --header-color: white;
    --font-color: #d2ecfb;
    --bg-color: rgba(50, 5, 5, 0.959);
    --padding-color: rgba(201, 50, 8, 0.5);
    --box-shadow: rgba(31, 212, 22, 0.5);
}

/* INDEX.HTML */
#section-one {
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
}

#featured-text {
    margin-left: 100px;
    max-width: 50%;
}

.featured-image {
    width: 400px;
    height: auto;
    display: block;
    margin-left: 100px;
    margin-right: 200px;
}

/* SECONDPAGE.HTML */
.top-five {
    padding-right: 200px;
    padding-left: 200px;
    text-align: center;
}

.ranked-images {
    width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* BODY */
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--bg-color);
}

h1 {
    font-variant: small-caps;
    color: var(--header-color);
    text-align: center;
}

h2 {
    margin-top: 50px;
    color: var(--header-color)
}

p {
    font-size: 25px;
    color: var(--font-color);
}

/* HEADER */
header h1 {
    color: var(--header-color);
    margin-top: 50px;
    text-align: center;
    font-size: 4rem;
    font-style: italic;
    font-variant: small-caps;
}

/* NAVIGATION */
nav {
    background-color: var(--padding-color);
    color: #fff;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 0px 10px var(--box-shadow);
}

nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
nav li {
    display: inline;
    margin: 20px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
}
nav a:link {
    color: white;
}
nav a:visited {
    color: white;
}
nav a:hover {
    color: yellow;
}
nav a:active {
    color: purple;
}

/* MAIN */
main h2 {
    text-align: center;
}

/* FOOTER */
footer {
    background-color: var(--padding-color);
    box-shadow: 0px 0px 10px var(--box-shadow);
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 50px;
    
}
footer p {
    color: white;
}