/* VARIABLES */
:root {
    --header-color: white;
    --font-color: #d2ecfb;
    --bg-color: rgba(2, 19, 37, 0.959);
    --padding-color: rgba(0, 51, 102, 0.5);
    --box-shadow: rgba(0, 0, 0, 0.5);
}


/* BODY */
body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
}

h1 {
    font-variant: small-caps;
    color: var(--header-color);
    text-align: center;
}

h2 {
    margin-top: 50px;
    color: var(--header-color)
}

p {
    font-size: 25px;
    color: var(--font-color);
}

/* HEADER */
header h1 {
    color: var(--header-color);
    margin-top: 50px;
    text-align: center;
    font-size: 4rem;
    font-style: italic;
    font-variant: small-caps;
}

/* NAVIGATION */
nav {
    background-color: var(--padding-color);
    color: #fff;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 0px 10px var(--box-shadow);
}

nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
nav li {
    display: inline;
    margin: 20px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
}
nav a:link {
    color: white;
}
nav a:visited {
    color: white;
}
nav a:hover {
    color: yellow;
}
nav a:active {
    color: purple;
}

/* MAIN */
main h2 {
    text-align: center;
}

/* WORD SEARCH */



body section#main {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 

    color: var(--font-color);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;   
    max-width: 1200px;
    margin: 0px auto;
    line-height: 1.2em;

    -webkit-flex: 1 1 0px;
    flex: 1 1 0px;
    background-color: transparent;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    webkit-flex-flow: row wrap;
    flex-flow: row wrap;
 }

 ul, ol {
    list-style: none;
 }

 aside { 
    -webkit-flex: 1 3 100px;
    flex: 1 3 100px; 
    padding: 0px 10px;
 }

aside h1 {
    font-weight: normal;
    font-size: 1.8em;
    margin: 0px 0px 20px 0px;
    text-align: center;
 }

table#wordSearchTable {
    margin: 0px auto;
 }

table#wordSearchTable caption {
    font-size: 2.5em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    caption-side: top;
    text-align: center;
    margin: 0px 0px 20px;
    color: var(--header-color)
 }

table#wordSearchTable td {
    border: 1px solid rgb(101, 191, 101);
    
    width: 20px;
    height: 20px;
    margin: 10px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    font-size: 0.75em;
 }

 input#showSolution {
    width: 180px;
    display: block;
    margin: 30px auto;
    background-color: white;
    height: 70px;
    font-size: 1.4em;
    font-family: "Comic Sans MS", cursive, sans-serif;
    border-radius: 50%;
    border: 8px double rgb(255, 200, 158); 
    cursor: pointer;   
}

input#showSolution:hover {
    color: white;
    background-color: rgb(101, 191, 101); 
 }
 
 input#pickedLetters {
    width: 90%;
    display: block;
    margin: 10px auto;
    text-align: center;
 }
    
 ul#wordSearchList {
    font-size: 1.3em;
    column-width: 100px;
 }
 
 ul#wordSearchList {
    line-height: 1.4em;
 }

/* FOOTER */
footer {
    background-color: var(--padding-color);
    box-shadow: 0px 0px 10px var(--box-shadow);
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 50px;
    
}
footer p {
    color: white;
}